
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="assets/Icones/V.png" type="image/x-icon">
    <style>
        .title{
            margin-top: 70px;
        }

        .container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 16px;
            padding: 16px;
        }

        .exercise-card {
            width: 351px;
            height: 495px;
            background-color: white;
            border-radius: 4px;
            border: 1px solid #212121;
            padding: 18px;
            margin: 10px;
        }

        .exercise-card img {
            width: 100%;
            height: 329px;
            object-fit: cover;
        }

        .exercise-title {
            padding: 12px 0px;
            background-color: #f5f5f5;
            font-size: 18px;
            font-weight: bold;
            text-align: left;
        }

        .description {
            padding: 8px 0px;
            text-overflow: ellipsis;
        }

    </style>
    <title>Vida Ativa & Sabor</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-nav">
            <a class="navbar-brand" href="index.html">
                <img class="logo" src="assets/Logos/Logo.jpg" alt="Logo" class="logo">
                Vida Ativa & Sabor
            </a>

            <div class="pesquisa">
                <input type="text" placeholder="Buscar Receitas...">
                <img src="assets/Icones/search-i.svg" alt="">
            </div>
    
            <ul class="navbar-nav mb-2 mb-lg-0 ml-auto">
                <% console.log("Nome:", nome); %>
                <% if (nome) { %>
                    <li class="nav-item">
                        <span class="nav-link">Bem-vindo, <%= nome %>!</span>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="login.ejs">Entre/Cadastre-se</a>
                    </li>
                <% } %>
            </ul>
    
        </div>
    </nav>


    <div class="body">
    
        <div class="receitas">

            <div class="title">
                <h1>Exercícios Físicos</h1>
            </div>
        

            <div class="container">
                <div class="exercise-card">
                    <img src="assets/NavBar/6.jpg" alt="Flexão">
                    <h2 class="exercise-title">Flexão</h2>
                    <p class="description">
                        Passo a passo para você realizar sua primeira flexão
                    </p>
                </div>
                <div class="exercise-card">
                    <img src="assets/NavBar/6.jpg" alt="Flexão">
                    <h2 class="exercise-title">Flexão</h2>
                    <p class="description">
                        Passo a passo para você realizar sua primeira flexão
                    </p>
                </div>
                <div class="exercise-card">
                    <img src="assets/NavBar/6.jpg" alt="Flexão">
                    <h2 class="exercise-title">Flexão</h2>
                    <p class="description">
                        Passo a passo para você realizar sua primeira flexão
                    </p>
                </div>
                <div class="exercise-card">
                    <img src="assets/NavBar/6.jpg" alt="Flexão">
                    <h2 class="exercise-title">Flexão</h2>
                    <p class="description">
                        Passo a passo para você realizar sua primeira flexão
                    </p>
                </div>
                <div class="exercise-card">
                    <img src="assets/NavBar/6.jpg" alt="Flexão">
                    <h2 class="exercise-title">Flexão</h2>
                    <p class="description">
                        Passo a passo para você realizar sua primeira flexão
                    </p>
                </div>
                <div class="exercise-card">
                    <img src="assets/NavBar/6.jpg" alt="Flexão">
                    <h2 class="exercise-title">Flexão</h2>
                    <p class="description">
                        Passo a passo para você realizar sua primeira flexão
                    </p>
                </div>
                <div class="exercise-card">
                    <img src="assets/NavBar/6.jpg" alt="Flexão">
                    <h2 class="exercise-title">Flexão</h2>
                    <p class="description">
                        Passo a passo para você realizar sua primeira flexão
                    </p>
                </div>
                <div class="exercise-card">
                    <img src="assets/NavBar/6.jpg" alt="Flexão">
                    <h2 class="exercise-title">Flexão</h2>
                    <p class="description">
                        Passo a passo para você realizar sua primeira flexão
                    </p>
                </div>
                <div class="exercise-card">
                    <img src="assets/NavBar/6.jpg" alt="Flexão">
                    <h2 class="exercise-title">Flexão</h2>
                    <p class="description">
                        Passo a passo para você realizar sua primeira flexão
                    </p>
                </div>
                <div class="exercise-card">
                    <img src="assets/NavBar/6.jpg" alt="Flexão">
                    <h2 class="exercise-title">Flexão</h2>
                    <p class="description">
                        Passo a passo para você realizar sua primeira flexão
                    </p>
                </div>
                <div class="exercise-card">
                    <img src="assets/NavBar/6.jpg" alt="Flexão">
                    <h2 class="exercise-title">Flexão</h2>
                    <p class="description">
                        Passo a passo para você realizar sua primeira flexão
                    </p>
                </div>
                <div class="exercise-card">
                    <img src="assets/NavBar/6.jpg" alt="Flexão">
                    <h2 class="exercise-title">Flexão</h2>
                    <p class="description">
                        Passo a passo para você realizar sua primeira flexão
                    </p>
                </div>
            </div>
        
        </div>

    </div>

<footer>
    <div id="footer">
        <h1>Sobre nós</h1>

        <div class="content">
            <h2>Bem-vindo ao "Vida Ativa & Sabor"! Somos apaixonados por promover um estilo de vida equilibrado, onde a atividade física e uma alimentação saudável se encontram para proporcionar bem-estar e satisfação. Em nosso site, você encontrará uma variedade de receitas deliciosas e nutritivas, cuidadosamente selecionadas para nutrir seu corpo e satisfazer seu paladar.
                Além disso, oferecemos uma ampla gama de dicas e orientações sobre exercícios físicos, desde treinos de força até atividades cardiovascpares, projetadas para ajudá-lo a alcançar seus objetivos de fitness e se manter motivado em sua jornada para uma vida mais ativa.
                Nossa missão é inspirar e capacitar você a adotar hábitos saudáveis de maneira prática e acessível. Queremos ser seu guia confiável na busca por uma vida mais saudável e mais feliz. Junte-se a nós nesta jornada de descoberta e transformação, onde o sabor se encontra com a vitalidade. Vamos viver ativamente e com muito sabor!</h2>


                <section class="perguntas">
                    <h1>Perguntas Frequentes</h1>
                    <a>Política de Privacidade</a>
                    <a>Central de Privacidade</a>
                    <a>Termos de Uso</a>
                </section>

                <section class="redes">
                    <h2>Redes Sociais</h2>
                    <div style="display: flex;">
                    <img style="margin-right: 22px;" src="../src/assets/Icones/instagram.svg" alt="">
                    <img style="margin-right: 22px;" src="../src/assets/Icones/whatsapp.svg" alt="">
                    <img src="../src/assets/Icones/telegram.svg" alt="">
                    </div>
                    
                </section>
        </div>
    </div>

</footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-QFUBQA+1knX9GfQTvSnsI5sViT3wfsih30w4Q6/FZabWM2KjkQFI4wdoQPsmJ9Uj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-MNJu6DvPauZgjB0Gtms3/Co2DmMCAw/i7D41cYpYDd1h81FZfZ9Bj8yzpL3D2s7H" crossorigin="anonymous"></script>
    <script src="script.js"></script>
</body>
</html>